body{
    background-color: #F1F1F1 !important;
}
.bgWhite{
    background-color: white;
    padding: 2rem;
}
#submitBtn{
    display: block;
    margin: 2rem auto;
    border-radius: 0;
    font-size: 20px;
    padding: 1rem 2rem;
    box-shadow: 20px 19px 3px #7F7F7F;
    background-color: #224285;
    border: #224285;
   
}
label{
    font-weight: bold;
    color: #224285;
}
.active{
    display: none;
}
#cityVisible{
    display: none;
}
.text-danger{
    display: none;
}